<!DOCTYPE html>
<html>
<head>
  <title>MUNICIPALIDAD DE PROVIDENCIA</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap" %>
   <%= stylesheet_link_tag "propio" %>
    <%= stylesheet_link_tag "a" %>
  <%= csrf_meta_tags %>

<style>  

@font-face {
  font-family: 'miso';    
  src: url('/assets/nokiapureheadlinerg-webfont.eot');
  src: url('/assets/nokiapureheadlinerg-webfont.eot?iefix') format('eot'),
  url('/assets/nokiapureheadlinerg-webfont.woff') format('woff'),
  url('/assets/ufonts.com_miso-light.ttf') format('truetype'),
  url('/assets/nokiapureheadlinerg-webfont.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;

}

     .solar {  
        font-family: 'miso';  
 
     }  

</style>  


</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="height: 80px;" >



<div class="col-lg-4" style="margin-left:-15px;" >
<img src="<%= asset_path('portada.png') %>" style="height:130px; width:1960px;">

<!-- <div  style="font-size:30px;margin-left:30px;">
  
<h1>Desarrollado por : </h1>

</div> -->

</div>


<div class="col-lg-4" style="float:left; margin-left:150px;  margin-top:40px;" >

<div class="solar"  id="row1" style="font-size:30px;margin-left:30px;"></div>

<div class="solar"  id="row2" style="font-size:30px;margin-left:30px; font-weight: bold;font-style: italic;"></div>

</div>



</nav>

<%= yield %>

</body>
</html>

<script>

function updateClock() {
//© OBH 2016 - www.oliverboorman.biz 

var days = ["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"];
var months = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];

var now = new Date();
var day = now.getDay();
var date = now.getDate();
var month = now.getMonth();
var year = now.getFullYear();
var hour = now.getHours();
var minute = now.getMinutes();
var second = now.getSeconds();

if(date<10) date = "0" + date;
if(hour<10) hour = "0" + hour;
if(minute<10) minute = "0" + minute;
if(second<10) second = "0" + second;

var firstRow = hour + ":" + minute + ":" + second + '';
document.getElementById("row1").innerHTML = firstRow;
var secondRow = days[day] + "&nbsp;" + date + "/" + months[month] + "/" + year + '';
document.getElementById("row2").innerHTML = secondRow;

setTimeout("updateClock()",1000);
} 

updateClock();

</script>